@import '~@assets/styles/colors.scss';

.root {
  display: inline-flex;
  width: 448px - 16px;
  height: 36px - 16px;

  &.focused,
  &.hovered {
    .control {
      background-color: get-color('white', 50);
      box-shadow: 0 2px 10px rgba(17, 82, 99, 0.15);
    }
  }
}

.control {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  background-color: get-color('grey', 50);

  i {
    font-size: 20px;
  }
}

.input {
  margin: 0 0 0 8px;
  flex: 1;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: get-color('black', 900);
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
}
